.idiqlat-extralight {
  font-family: "Idiqlat", serif;
  font-weight: 200;
  font-style: normal;
}

.idiqlat-light {
  font-family: "Idiqlat", serif;
  font-weight: 300;
  font-style: normal;
}

.idiqlat-regular {
  font-family: "Idiqlat", serif;
  font-weight: 400;
  font-style: normal;
}
